.select-option {
    padding: 1rem;
    border-bottom: 2px solid black;
    font-weight: bold;
    cursor: pointer;
    background: white;

    &:last-child {
        border-bottom: none;
    }

    &.select-hidden {
        display: none;
    }

    &:hover {
        background: lightgray;
    }
}